span {
    background-color: initial; /* Default color */
}

.b-color { background-color: yellow; }
.p-color { background-color: blue; }
.d-color { background-color: red; }
.q-color { background-color: green; }
.initial-color { background-color: initial; }

